.navigation {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-family: monospace;
    padding: 0.5em;

    .buttons {
        display: flex;
        gap: 0.5em;

        button:disabled {
            opacity: 1;
            color: grey;
        }
    }

    .info {
        background: rgba(255, 255, 255, 0.66);
        border-radius: 4px;
        padding: 0.5em;
        font-size: 0.8em;
    }

}